<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Martel Sans" rel="stylesheet">
    <link rel="stylesheet" href="../src/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <% include nav.ejs %>
    <div class="hero">
        <div class="row h-100">
            <div class="col-7 split-left">
            </div>
            <div class="col-5 split-right">
            </div>
        </div>
        <div class="container bay">
                <ul class="list-inline d-gren">
                    <li class="list-inline-item"> <img src="../src/img/maximize.svg" class="ses-img"> 3412 sqft</li>
                    <li class="list-inline-item"> <img src="../src/img/briefcase.svg" class="ses-img"> Co-working</li>
                    <li class="list-inline-item"> <img src="../src/img/dollar-sign.svg" class="ses-img"> 340.2/sq ft</li>
                </ul>
                <h1>The Bay Area</h1>
                <p>Excquisitely created office suites, perfect for  <br>  the startup environment</p>
             
            </div>
        <div class="container bay mt-2">
            <form>
                <div class="row rq-form">
                    <div class="col-3 pr-0">
                    <input type="text" class="form-control form-item" placeholder="Your name">
                    </div>
                    <div class="col-2 p-0">
                    <input type="text" class="form-control form-item" placeholder="E-mail ID">
                    </div>
                    <div class="col-3 p-0">
                        <input type="text" class="form-control form-item" placeholder="Phone Number">
                    </div>
                    <div class="col-2 hol-q">
                        <button class="btn btn-default req-btn">Request a Quote</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container bay-two">
            <div class="row">
                <div class="col-md-6 sade">
                    <div class="shape">
                        <img src="../src/img/award.png" alt="">
                    </div>
                    <h6>Lorem ipsum dolor sit amet</h6>
                    <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium.</p>
                </div>
                <div class="col-md-6 sade">
                    <div class="shape">
                        <img src="../src/img/shape.png" alt="">
                    </div>
                    <h6>Lorem ipsum dolor sit amet</h6>
                    <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h4 class="gallery">Luxury in every nook & corner</h4>
            <div class="row image-items">
                <div class="col-md-6">
                    <img src="../src/img/2.png"  class="mb-5" alt="">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../src/img/3.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <img src="../src/img/4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../src/img/1.png" alt="">

                    <a class="gt-race" href="#">Request a Quote</a>

                </div>
            </div>
        </div>
        <div class="container sit-up">
            <div class="gray-box">
                <h1 class="text-center">Lorem ipsum dolor sit amet</h1>
                <p class="text-center">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices.</p>
            </div>
                     <div class="row">
                <div class="col-md-4">
                    <div class="green-box">
                        <h1>6341.41 </h1>
                        <p>Fusce vehicula dolor arcu, sit amet blandit.</p>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="green-box">
                                <h1>4120k </h1>
                                <p>Fusce vehicula dolor arcu, sit amet blandit.</p>
                            </div>
                </div>
                <div class="col-md-4">
                        <div class="green-box">
                                <h1>$5124m </h1>
                                <p>Fusce vehicula dolor arcu, sit amet blandit.</p>
                            </div>
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="did">
                        <h3>Lorem ipsum <br>
                            dolor sit amet</h3>
                        <p>
                          Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est,
                        </p>
                    </div>
                   
                </div>
                <div class="col-md-6 yachi">
                    <img class="moji" src="../src/img/moji.png" alt="">
                    <div class="showdown">
                        <img src="../src/img/showdown.png" alt="">
                    </div>
                </div>
               
            </div>
           
        </div>
        <div class="container testi mb-0">
            <div class="gray-box">
                    <h1 class="text-center">What our Clients Say</h1>
                    <p class="text-center">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices.</p>
            </div>
           
        </div>
        <div class="shift-center">
                <div class="row">
                        <div class="col-md-4">
                            <div class="testi-moni">
                                <div class="dry-t">
                                    <p>"Quick and efficient. Awesome service and very reliable!”</p>
                                </div>
                                <div class="row req-dits">
                                    <div class="col-3">
                                        <img src="../src/img/p1.png" alt="">
                                    </div>
                                    <div class="col-9">
                                        <p>Tina Roth Eisenberg</p>
                                        <span>Okla Labs</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="testi-moni">
                                    <div class="dry-t">
                                        <p>"Quick and efficient. Awesome service and very reliable!”</p>
                                    </div>
                                    <div class="row req-dits">
                                        <div class="col-3">
                                            <img src="../src/img/p1.png" alt="">
                                        </div>
                                        <div class="col-9">
                                            <p>Tina Roth Eisenberg</p>
                                            <span>Okla Labs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="testi-moni">
                                        <div class="dry-t">
                                            <p>"Quick and efficient. Awesome service and very reliable!”</p>
                                        </div>
                                        <div class="row req-dits">
                                            <div class="col-3">
                                                <img src="../src/img/p1.png" alt="">
                                            </div>
                                            <div class="col-9">
                                                <p>Tina Roth Eisenberg</p>
                                                <span>Okla Labs</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
        </div>
    </div>
</body>
</html>